<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <% include ./partials/topNavigation %>

    <h1><%=pageName%></h1>
    <p>ID: <%=user.id%></p>
    <p>Name: <%=user.userName%></p>
    <p>Email: <%=user.email%></p>
    <br>
    <button onclick="window.location.href='/facebook'">Get profile data from Facebook</button>

    <% include ./partials/chat %>
    <script src="/scripts/chat.js" id="script" data-src="<%=user.userName%>"></script>
</body>
</html>
