<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

    <form action="/profile" method="post">
      <button class="logout-button">Log out</button>
    </form>

    <h1>Products</h1>

    <form action="/products">
        <input type="text" name="search" required>
        <input type="submit" value="Search">
    </form>
    <br>

    <form action="/products">
        <input type="submit" value="Order by:">
        <input type="radio" name="order" value="id" required> Time
        <input type="radio" name="order" value="productName"> Name
        <input type="radio" name="order" value="price"> Price
        <input type="checkbox" name="desc" value="true"> descend
    </form>
    <br>

    <form action="/products">
        <input type="button" value="Reset">
    </form>
    <br>

    <table class="user-products">
        <tr>
            <th>№</th>
            <th>Photo</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>

            <th>
                <form action="/products/add">
                    <button>Add new product</button>
                </form>
            </th>
        </tr>

        <% for (var i=0; rows[i]; ++i) { %>
            <tr>
                <td><%= i+1 %></td>
                <td><img class="product-pic" src="<%=rows[i].pictureLink%>" alt="No picture"></td>
                <td><p><%= rows[i].productName %></p></td>
                <td><p>$<%= rows[i].price%></p></td>
                <td><textarea cols="50" rows="6" readonly disabled><%= rows[i].description %></textarea></td>
                <td>
                    <form action="/products/edit/<%=rows[i].id%>">
                        <button>Edit</button>
                    </form>
                    <form action="/products/delete/<%=rows[i].id%>">
                        <button onclick="return confirm('Are you sure to delete this product?');">Delete</button>
                    </form>
                </td>
            </tr>
        <% } %>
    </table>

    <div style="text-align: center;">
        <p>Pages:</p>
        <div>
            <% for (var i=1; i<=5; ++i) {
                    let pageLink = '/products/'+i;
                    let pageId = 'page-'+i%>
                    <button onclick="window.location.href='<%=pageLink%>'" id="<%=pageId%>"><%=i%></button>
            <% } %>
            <script> document.getElementById('page-1').style='background-color: lightblue;' </script>
        </div>
    </div>
</body>
</html>
