<!DOCTYPE html>
<html>
<head>
    <title><%=pageName%></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="icon" href="/images/favicon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<body>
    <% include ../partials/topNavigation %>

    <h1><%=pageName%></h1>

    <% if (lastPage != 0) { %>
    <form action="<%=linkStart%>">
        <table class="sort-table">
            <tr>
                <td> <label>Search: </label> </td>
                <td colspan="4"> <input type="text" name="search" id="searchId" style="width: 290px"> </td>
                <td rowspan="3"> <input type="submit" value="OK"> </td>
                <td rowspan="3"> <input type="button" onclick="window.location.href='<%=linkStart%>'" value="Reset"> </td>
            </tr>
            <tr>
                <td> <label>Order by:</label> </td>
                <td> <input type="radio" name="order" id="order-id" value="id"> Time </td>
                <td> <input type="radio" name="order" id="order-productName" value="productName"> Name </td>
                <td> <input type="radio" name="order" id="order-price" value="price"> Price </td>
                <td> <input type="checkbox" name="desc" id="checkbox-desc" value="true"> descend </td>
            </tr>
            <tr>
                <td> <label>Limit on page: </label> </td>
                <td colspan="4"> <input type="number" min="1" style="width: 290px;" name="limit" value="<%=limit%>" required></td>
            </tr>
            <%if (pageName == 'Shop') { %>
                <tr>
                    <td> <label>Favorites: </label> </td>
                    <td> <input type="checkbox" name="fav" id="checkbox-fav" value="true"> </td>
                </tr>
            <% } %>
            <script>

                let search = window.location.search
                    .split('&search=')[1]
                    .split('&order')[0];
                document.getElementById('searchId').value = search;

                let order = window.location.search
                    .split('&order=')[1]
                    .split('&desc')[0];
                document.getElementById('order-'+order).checked = true;

                let desc = window.location.search
                    .split('&desc=')[1]
                    .split('&limit')[0];
                document.getElementById('checkbox-desc').checked = (desc == 'true')? true: false;

                if (window.location.search.includes('&fav=')) {
                    let fav = window.location.search
                        .split('&fav=')[1];
                    document.getElementById('checkbox-fav').checked = (fav == 'true')? true: false;
                }
            </script>
        </table>
    </form>
<br>
    <table class="user-products">
        <tr>
            <th>№</th>
            <th>Photo</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Likes</th>
            <% if (pageName == 'My products') {%>
                <th>
                    <button onclick="window.location.href='/products/add'">Add new product</button>
                </th>
            <% } %>
        </tr>

            <% for (var i=0; rows[i]; ++i) { %>
            <tr>
                <td><%= (limit*(currentPage-1))+i+1 %></td>
                <td><img class="product-pic" src="<%=rows[i].pictureLink%>" alt="No picture"></td>
                <td><p><%= rows[i].productName %></p></td>
                <td><p>$<%= rows[i].price%></p></td>
                <td><textarea cols="50" rows="6" readonly disabled><%=rows[i].description%></textarea></td>
                <td>
                    <% if (pageName == 'Shop') { %>
                        <a id="<%=rows[i].id%>" href="javascript:like('<%=rows[i].id%>')" style="text-decoration: none;">

                            <% if(rows[i].liked) {%> <i class="fas fa-heart fa-2x"></i>
                            <% } else { %> <i class="far fa-heart fa-2x"></i> <% } %>
                        </a>
                    <% } %>

                    <label id="count-<%=rows[i].id%>"><%=rows[i].likes%></label>

                    <script>
                        function like(likeId) {
                            let xhr = new XMLHttpRequest();

                            xhr.open('POST', '/shop', true);
                            xhr.send(likeId);

                            xhr.onreadystatechange = function() {
                                if (xhr.readyState != 4) return;

                                if (xhr.status != 200) {
                                    alert( 'Error: ' + (xhr.status ? xhr.statusText : 'Try later, please!') );
                                } else {
                                    let pic = document.getElementById(likeId);
                                    let label = document.getElementById(`count-${likeId}`);

                                    if (pic.innerHTML.includes('fas')) { //if liked
                                        pic.innerHTML = '<i class="far fa-heart fa-2x"></i>';
                                        label.innerHTML = (parseInt(label.innerHTML)-1).toString();
                                    } else { // if not liked
                                        pic.innerHTML = '<i class="fas fa-heart fa-2x"></i>';
                                        label.innerHTML = (parseInt(label.innerHTML)+1).toString();
                                    }
                                }
                            }
                        }
                    </script>
                </td>
            <% if (pageName == 'My products') { %>
            <td>
                <form action="/products/edit/<%=rows[i].id%>">
                    <button>Edit</button>
                </form>
                <br>
                <form action="/products/delete/<%=rows[i].id%>">
                    <button onclick="return confirm('Are you sure to delete this product?');">Delete</button>
                </form>
            </td>
            <% } %>
        </tr>
        <% } %>
    </table>


    <div class="center">
        <p>Pages:</p>
        <div>
            <% if (currentPage>1) { %>
                    <button onclick="window.location.href='<%=linkStart%>/?page=<%=parseInt(currentPage)-1%><%=query%>'"> &#9668; </button>
            <% } %>

            <% for (var i=1; i<=lastPage; ++i) { %>
                <button onclick="window.location.href='<%=linkStart%>/?page=<%=i%><%=query%>'" id="page-<%=i%>"><%=i%></button>
            <% } %>

            <%if (currentPage<lastPage) { %>
                <button onclick="window.location.href='<%=linkStart%>/?page=<%=parseInt(currentPage)+1%><%=query%>'"> &#9658; </button>
            <% } %>

            <script>
                document.getElementById('page-<%=currentPage%>').style.backgroundColor = "lightblue";
            </script>
        </div>
    </div>

    <% } else if (pageName == 'My products') { %>
            <script>
                if (window.location.search
                    .split('&search=')[1]
                    .split('&order')[0]) {
                    document.write("<label>No such products...</label><br><br>"+
                            "<button onclick=\"window.location.href='/products'\">Reset filter</button>");
                } else {
                    document.write("<button onclick=\"window.location.href='/products/add'\"'>Add new product</button>");
                }
            </script>
    <% } else { %>
        <label>No products...</label>
    <% } %>

    <% include ../partials/chat %>
    <script src="/scripts/chat.js" id="script" data-src="<%=user.userName%>"></script>
</body>
</html>
