<!DOCTYPE html>
<html>
<head>
    <title><%=pageName%></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <div>
       <form action="/profile">
          <button class="profile-button">Profile</button>
     </form>
    </div>
    <div>
     <form action="/profile" method="post">
         <button class="logout-button">Log out</button>
      </form>
    </div>

    <br>
    <h1><%=pageName%></h1>

    <form action="/products">
        <table class="sort-table">
            <tr>
                <td> <label>Search: </label> </td>
                <td colspan="4"> <input type="text" name="search" id="searchId" style="width: 290px"> </td>
                <td rowspan="2"> <input type="submit" value="OK"> </td>
                <td rowspan="2"> <input type="button" onclick="window.location.href='/products'" value="Reset"> </td>
            </tr>
            <tr>
                <td> <label>Order by:</label> </td>
                <td> <input type="radio" name="order" id="order-id" value="id"> Time </td>
                <td> <input type="radio" name="order" id="order-productName" value="productName"> Name </td>
                <td> <input type="radio" name="order" id="order-price" value="price"> Price </td>
                <td> <input type="checkbox" name="desc" id="checkbox-desc" value="true"> descend </td>
                <script>
                    if (window.location.href.includes('search=')) {
                        let search = window.location.href
                            .split('search=')[1]
                            .split('&')[0];;
                        document.getElementById('searchId').value = search;
                    }

                    let desc = window.location.href
                        .split('desc=')[1];
                    document.getElementById('checkbox-desc').checked = (desc=='true')? true: false;

                    let order = window.location.href
                        .split('order=')[1]
                        .split('&')[0];
                    document.getElementById('order-'+order).checked = true;
                </script>
            </tr>
        </table>
    </form>
<br>
    <table class="user-products">
        <tr>
            <th>№</th>
            <th>Photo</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>
            <% if (pageName == 'Shop') {%>
                Likes
            <% } else { %>
                <button onclick="window.location.href='/products/add'">Add new product</button>
            <% } %>
            </th>
        </tr>

        <% for (var i=0; rows[i]; ++i) { %>
            <tr>
                <td><%= (limit*(currentPage-1))+i+1 %></td>
                <td><img class="product-pic" src="<%=rows[i].pictureLink%>" alt="No picture"></td>
                <td><p><%= rows[i].productName %></p></td>
                <td><p>$<%= rows[i].price%></p></td>
                <td><textarea cols="50" rows="6" readonly disabled><%= rows[i].description %></textarea></td>
                <td>
                <% if (pageName == 'Shop') {
                    let likeId = 'like-'+i%>
                    <th> <button id="<%=likeId%>" onclick = "like(<%=likeId%>)"></button>
                        <label><%=rows[i].likes%></label>
                    </th>
                    <script>
                        function like(likeId) {
                            alert(document.getElementById(likeId).textContent);
//TODO: XHR like count (+ or -) + change content?
                           /* var xhr = new XMLHttpRequest();

                            xhr.open('POST', '/shop', true);
                            xhr.send();

                            if (xhr.status != 200) {
                                // обработать ошибку
                                alert('Ошибка ' + xhr.status + ': ' + xhr.statusText);
                            } else {
                                // вывести результат
                                alert(xhr.responseText);
                            }*/
                        }
                    </script>
                <% } else { %>
                    <form action="/products/edit/<%=rows[i].id%>">
                        <button>Edit</button>
                    </form>
                    <br>
                    <form action="/products/delete/<%=rows[i].id%>">
                        <button onclick="return confirm('Are you sure to delete this product?');">Delete</button>
                    </form>
                <% } %>

                </td>
            </tr>
        <% } %>
    </table>

    <div style="text-align: center;">
        <p>Pages:</p>
        <script>
//TODO: pages links to shop
        </script>
        <div>
            <%if (currentPage!=1) { %>
            <button onclick="window.location.href='/products/?page=<%=parseInt(currentPage)-1%><%query%>'"> &#9668; </button>
            <% } %>

            <% for (var i=1; i<=lastPage; ++i) {
                    let pageLink = '/products/?page=' + i + query;
                    let pageId = 'page-'+i; %>

                    <button onclick="window.location.href='<%=pageLink%>'" id="<%=pageId%>"><%=i%></button>
            <% } %>

            <%if (currentPage!=lastPage) { %>
            <button onclick="window.location.href='/products/?page=<%=parseInt(currentPage)+1%><%=query%>'"> &#9658; </button>
            <% } %>

            <script>
                var currentPage = window.location.href
                    .split('page=')[1]
                    .split('&')[0];
                document.getElementById('page-'+currentPage).style.backgroundColor = "lightblue";
            </script>
        </div>
    </div>
</body>
</html>
