<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <h1>Products</h1>

    <form action="/products/add">
        <button>Add</button>
    </form>
    <br>

    <table class="user-products">
        <tr><th>№</th><th>Photo</th><th>Name</th><th>Description</th></tr>
        <% for (var i=0; rows[i]; i++) { %>
            <tr>
                <td><%= i+1 %></td>
                <td><img class="product-pic" src="<%= rows[i].pictureLink %>" alt="No picture"></td>
                <td><p><%= rows[i].productName %></p></td>
                <td><textarea cols="50" rows="6" readonly disabled><%= rows[i].description %></textarea></td>
                <td>
                    <form action="/products/edit/<%=rows[i].id%>">
                        <button>Edit</button>
                    </form>
                    <form action="/products/delete/<%=rows[i].id%>">
                        <button onclick="return confirm('Are you sure to delete this product?');">Delete</button>
                    </form>
                </td>
            </tr>
        <% } %>
    </table>
</body>
</html>
