<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

    <form action="/profile" method="post">
      <button class="logout-button">Log out</button>
    </form>

    <h1>Products</h1>

    <form action="/products">
        <table class="sort-table">
            <tr>
                <td> <label>Search: </label> </td>
                <td colspan="4"> <input type="text" name="search" style="width: 290px"> </td>
                <td rowspan="2"> <input type="submit" value="OK"> </td>
                <td rowspan="2"> <input type="button" onclick="window.location.href='/products'" value="Reset"> </td>
            </tr>
            <tr>
                <td> <label>Order by:</label> </td>
                <td> <input type="radio" name="order" value="id" checked> Time </td>
                <td> <input type="radio" name="order" value="productName"> Name </td>
                <td> <input type="radio" name="order" value="price"> Price </td>
                <td> <input type="checkbox" name="desc" value="true" checked> descend </td>
            </tr>
        </table>
    </form>
<br>
    <table class="user-products">
        <tr>
            <th>№</th>
            <th>Photo</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th> <button onclick="window.location.href='/products/add'">Add new product</button> </th>
        </tr>

        <% for (var i=0; rows[i]; ++i) { %>
            <tr>
                <td><%= (3*(currentPage-1))+i+1 %></td>
                <td><img class="product-pic" src="<%=rows[i].pictureLink%>" alt="No picture"></td>
                <td><p><%= rows[i].productName %></p></td>
                <td><p>$<%= rows[i].price%></p></td>
                <td><textarea cols="50" rows="6" readonly disabled><%= rows[i].description %></textarea></td>
                <td>
                    <form action="/products/edit/<%=rows[i].id%>">
                        <button>Edit</button>
                    </form>
                    <form action="/products/delete/<%=rows[i].id%>">
                        <button onclick="return confirm('Are you sure to delete this product?');">Delete</button>
                    </form>
                </td>
            </tr>
        <% } %>
    </table>

    <div style="text-align: center;">
        <p>Pages:</p>
        <div>
            <% for (var i=1; i<=lastPage; ++i) {
                    let pageLink = '/products/?page=' + i + query;
                    let pageId = 'page-'+i; %>

                    <button onclick="window.location.href='<%=pageLink%>'" id="<%=pageId%>"><%=i%></button>
            <% } %>
            <script>
                var currentPage = window.location.href.substring(32, 31);
                document.getElementById('page-'+currentPage).style.backgroundColor = "lightblue";
            </script>
        </div>
    </div>
</body>
</html>
